Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
Header set Access-Control-Allow-Credentials "true"

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^(^.*)\.app.snap-booking.com$ [NC]
    RewriteRule ^index.php$ https://app.snap-booking.com/calendar/%1 [P,L]

    RewriteCond %{HTTP_HOST} ^(^.*)\.app.snap-booking.com$ [NC]
    RewriteRule ^login$ https://app.snap-booking.com/login [R=301,L]

    RewriteCond %{HTTP_HOST} ^(^.*)\.app.snap-booking.com$ [NC]
    RewriteRule ^(.*)$ https://app.snap-booking.com/$1 [P,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
