body{
    color: var(--calendar-primary-color);
    background-color: var(--calendar-background-color);
    font-family: 'Outfit', sans-serif;

}
.MyContainer{
    max-width: 630px;
    width: 100%;
    padding: 25px;
}
.calendar .day:not(.prev-date,.nxt-date,.active,.tillCurrentDate,.futureDays):hover {
    background: #ffffff;
    border: 2px solid  var(--calendar-primary-color);
}
.calendar #days .active {
    background: var(--calendar-primary-color);
    color: #fff;
}

.calendar #days .today::after {
    background:  var(--calendar-primary-color);
}
.btnDisable {
    background: #d5d5d5;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--calendar-primary-color);
    --bs-btn-border-color: var(--calendar-primary-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--calendar-primary-color);
    --bs-btn-hover-border-color: var(--calendar-primary-color);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--calendar-primary-color);
    --bs-btn-active-border-color: var(--calendar-primary-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--calendar-primary-color);
    --bs-btn-disabled-border-color: var(--calendar-primary-color);
}

.calendar .day:not(.prev-date,.nxt-date,.tillCurrentDate,.futureDays) {
    background: #ffffff;
    color: #020202;
    border-radius: 10%;
    font-weight: 600;
    cursor: pointer;
}

.my-header{
    max-width: 550px;
    width: 100%;
    padding: 0;
}

.action {
    color: #000;
    background-color: #e3ac6f;
    margin: 1px;
    padding: 15px 8px 5px 8px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.action:hover {
    cursor: pointer;
    background-color: var(--calendar-primary-color);
    margin: 1px;
    font-size: 18px;
    transform: scale(1.1);
    color: #ffffff;
    border-radius: 2px;
}

.navigation-language{
    margin-top: 10px;
}
.language {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #000000;
}

.language::before {
    content: "";
    width: 54px;
    height: 27px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: background-color 0.3s;
}

.language:hover::before {
    background-color: var(--calendar-primary-color);
    cursor: pointer;
}
.language:hover {
    color: #fff;
    cursor: pointer;
}

/*PRODUCTS*/
.products{
    width: 100%;
    padding: 0;
}
.calendar {
    max-width: 550px;
    width: 100%;
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.product {
    transition: background-color 0.1s ease;
}

.IdCounter {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}
.sub-title-text{
    padding: 5px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.sub-title{
    padding: 0;
}

.js-weeks, .js-weekdays {
    margin-left: -10px;
    margin-right: -10px;
}


.bootstrap-calendar-day {
    margin: 10px;
    border-radius: 10%;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    height: 66px !important;
}

.bootstrap-calendar-day:hover {
   border: 1px solid var(--calendar-primary-color);
}



.btn-link {
    --bs-btn-color: var(--calendar-primary-color);
}

.btn-link:hover {
    color: var(--calendar-primary-color);
}



/*Purchase*/
.PurchaseContainer{
    max-width: 900px;
    width: 100%;
}

.all-purchase{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    font-size: 18px;
}
.product-item, .sous-total, .total {
    padding: 15px;
}
.product-item:hover {
    background-color: #fff;
    border-radius: 10px;
}

.product-item-count span {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
    color: #000;
}

.product-item-price span {
    width: 85px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.total-item-price span {
    color: #ffffff;
    font-weight: 600;
    background-color: var(--calendar-primary-color);
    border-radius: 10px;
    padding: 5px 10px;
    width: 85px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.text-label{
    font-weight: 600;
    color: #545353;
}
.title-payment {
    color: #000000;
    font-size: 18px;
    font-weight: 600;

}

.card-items {
    border-radius: 10px;
    overflow-x: auto;
    max-height: 100px;
}
.card-item {
    border-radius: 10px;
    height: 90px;
    background-color: #ffffff;
    margin-right: 10px;
}

.reserve {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    color: #fff;
    background-color: var(--calendar-primary-color);
    border-radius: 25px 0 0 25px; /* top-right corner is 10px, others are 0 */
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    max-height: 40px;
}

.reserve:after {
    display: block;
    content: "";
    position: absolute;
    top: 9px;
    right: -1px;
    width: 2px;
    height: 23px;
    background: #fff;
}

.left-link-modifier {
color: #000000;
background-color: #fff;
padding: 10px;
border-radius: 10px;
margin-right: 10px;
}

label.error {
margin-top: -15px;
}

.disable_button {
pointer-events: none;
opacity: 0.5;
}

.calendar-logo {
max-width: 300px;
}

.flag-icon {
width: 20px;
display: inline-block;
margin-top: -3px;
}

.language-selector {
background: var(--calendar-secondary-color);
border: none;
text-decoration: none;
color: #000;
padding: 13px 17px;
border-radius: 29px;
}

.language-selector::after {
display: none;
}

.selector-arrow {
margin-left: 11px;
}

.language-selector-container {
right: 0;
top: 30px;
}

.language-selector-list {
background: var(--calendar-secondary-color);
border: none;
}

.sub-title {
font-size: 28px;
color: #000;
max-width: 360px;
line-height: 32px;
font-family: 'Barlow Semi Condensed', sans-serif;
}

.btn-curr-month, .btn-curr-month:hover {
color: #000;
background: #fff;
text-transform: uppercase;
padding: 7px 26px;
border-radius: 25px;
}

.btn-prev-month, .btn-next-month, .btn-prev-month:hover, .btn-next-month:hover {
color: #000;
background: #fff;
text-transform: uppercase;
padding: 7px 16px;
border-radius: 25px;
}

.btn-next-month {
margin-left: 11px;
}

.bootstrap-calendar-weekday-row {
margin-top: 20px;
}

.bootstrap-calendar-weekday-row div {
height: auto !important;
line-height: unset !important;
}

.js-day-name-short {
color: #000 !important;
font-size: 0 !important;
margin-bottom: 5px;
margin-top: 13px;
font-weight: normal !important;

}

.js-day-name-short:first-letter {
font-size: 16px !important;
}

.bootstrap-calendar-day {
font-weight: normal !important;
}

.bootstrap-calendar-day.has-events {
border: 1px var(--calendar-primary-color) solid;
color: #000 !important;
}

.bootstrap-calendar-day.has-events.active {
background-color: var(--calendar-primary-color);
color: #000 !important;
}

.js-count-events, .js-day-name {
display: none !important;
}

.js-events {
margin-top: 30px;
}

.event-flag {
width: 17px;
margin-right: 10px;
vertical-align: text-bottom;
}

.event-time {
border: 0;
color: #000000;
transition: width .3s,transform .3s;
font-size: 15px;
width: 100% !important;
font-weight: normal;
border-radius: 25px;
margin-bottom: 20px;
}

.event-time.active, .event-time:hover {
text-decoration: none;
border: 1px var(--calendar-primary-color) solid;
}

.event-time.inactive {
background: transparent;
opacity: .5;
}

.product-title, .brunch-title {
font-size: 18px;
color: var(--calendar-primary-color);
}

.product-description {
color: #000;
font-size: 14px;
font-weight: normal;
}

.product-price, .brunch-price {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 18px;
}

.white-circle {
color: #000;
background-color: #fff;
padding: 9px;
height: fit-content;
font-size: 14px;
}

.product, .brunch {
background-color: transparent;
width: 100%;
border-bottom: 1px var(--calendar-primary-color) solid;
}

.brunch-qty {
border-bottom: 1px var(--calendar-primary-color) solid;
}

.brunch {
border: none;
}

.product-navigation-container {
height: fit-content;
width: fit-content;
float: right;
}

.right-icon {
border-radius: 9px 0 0 9px;
}

.left-icon {
border-radius: 0 9px 9px 0;
}

.total-sum-purchase {
    background-color: var(--calendar-primary-color);
    padding: 9px 10.75px;
    border-radius: 0 25px 25px 0;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    padding-top: 11px;
    padding-bottom: 8px;
    max-height: 40px;
}

.product-item-count {
margin-right: 6px;
font-size: 15px;
}

.product-item-count span {
background-color: #fff;
border-radius: 10px;
padding: 5px 10px;
color: #000;
display: inline-block;
text-align: center;
font-weight: normal;
font-size: 15px;
}

.product-item-text, .sous-total-item-text, .total-item-text {
font-size: 16px;
display: flex;
align-items: center;
}

.products-items .product-item:hover {
background: var(--calendar-primary-color);
color: #fff;
border-radius: 0;
}

.product-item-mo i {
margin-top: 10px;
}

.promocode-apply button {
padding: 5px 10px;
border-radius: 10px;
width: 85px;
}

.promo-inner {
max-width: 91%;
margin-left: 13px;
}

.promocode-input.wrong {
border-color: #de3603;
}

.promocode-input.correct {
border-color: #00f169;
}

.form-inner label.error {
display: none !important;
}

.form-inner input.error {
border-color: #de3603;
}

.event-time .attendee-icon {
margin-left: 17px;
}

.qty-inner {
display: inline-block;
}

.qty-inner-text {
display: inline-block;
}

.brunches {
margin-top: 30px;
padding-top: 23px;
margin-bottom: 23px;
}

.brunch-list .brunch {
    width: 145px;
    display: inline-block;
    background: #fff;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.brunch-list .brunch .time {
    margin-top: 10px;
    margin-bottom: 6px;
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
}

.brunch-list .brunch .icon i {
color: var(--calendar-primary-color);
width: 30px;
font-size: 29px;
}

.brunch-list .brunch.selected {
    border: 2px var(--calendar-primary-color) solid;
}

.brunch-list .brunch.selected .time, .brunch-list .brunch.selected i, .brunch-list .brunch.selected img, .brunch-list .brunch.selected .qty-inner-text {
    color: var(--calendar-primary-color);
}

.brunch-list .brunch .table-active {
    display: none;
}

.brunch-list .brunch .table-not-active {
    display: inline-block;
}

.brunch-list .brunch.selected .table-active {
    display: inline-block;
}

.brunch-list .brunch.selected .table-not-active {
    display: none;
}

.brunch.inactive {
background: transparent;
opacity: .5;
}

.brunch-article {
width: 100%;
height: 170px;
border-radius: 10px;
background-size: cover;
background-position: center;
position: relative;
}

.brunch-article .inner {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, .5);
color: #fff;
font-size: 28px;
padding: 20px;
}

.makesPurchase {
background: var(--calendar-secondary-color);
}

@media screen and (max-width:480px) {
.myDisp {
    flex: 50%;
}
}

.button-order {
background: #fff;
border-radius: 25px;
padding: 6px;
justify-content: end;
}

.brunch-list .brunch .icon {
    margin-top: 9px;
}

.brunch-list .brunch .icon img {
    margin-top: 9px;
    width: 60px;
}

.brunch-title-head {
    font-size: 21px;
    text-align: center;
    color: #000;
}
